p, button {
  font-family: Lato;
}

.container {
  border: 1px solid #e1e1e1;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.container-roles {
  border: 1px solid #ff5858;
  background: salmon;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.buttons {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.buttons > * {
  width: 75px;
  margin: 5px;
}